<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css"/>
    <link rel="stylesheet" type="text/css" href="/stylesheets/index.css"/>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet"/>
    <link rel="icon" type="image/ico" href="carte-covid.ico" />
    <title>Carte-Covid</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/javascripts/main.js"></script>
  </head>
  <body>
    <div class="pageContainer">
      <img class="logo" src="/logoCarteCovid.png" alt="Logo Carte-Covid" id="logoCC"/>
      <p id="headerText">
        Numérisez votre carte et permettez à votre clientièle d'y accéder, via un simple QR Code.
      </p>
      <p class="gridTextElem" id="firstTextElem">1. Renseignez le nom de votre restaurant</p>
      <div class="schemaContainer">
        <div class="sideContainer">
          <p class="gridTextElem">2. Envoyez-nous une photo de votre carte</p>
          <img class="logosSchema" src="/camera.png" alt="camera logo"/>
          <button id="publish">J'ai la photo !</button>
        </div>
        <div class="borderLine"></div>
        <div class="sideContainer">
          <p class="gridTextElem">2. Envoyez-nous le lien vers votre carte</p>
          <img class="logosSchema" src="/search.png" alt="search logo"/>
          <button id="retreive">J'ai une URL !</button>
        </div>
      </div>
    </div>
  <footer>
    Toto
  </footer>
  </body>
</html>