<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css"/>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/javascripts/main.js"></script>
  </head>
  <body>
    <div class="pageWrapper">
      <h1>Carte-Covid</h1>
      <p>
        Numérisez votre carte, et permettez à votre clientièle d'y accéder, via un simple QR code.
      </p>
      <img/>
      <div class="buttonContainer">
        <button id="publish">Publier sa carte en ligne</button>
        <button id="retreive">Récupérer mon QR code</button>
      </div>
    </div>
  </body>
</html>