<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css"/>
    <link rel="stylesheet" type="text/css" href="/stylesheets/publish.css"/>
    <link rel="icon" type="image/ico" href="carte-covid.ico" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet"/>
    <meta name="viewport" content="width=device-width, initial-scale = 1.0,
    maximum-scale=1.0, user-scalable=no" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/javascripts/publish.js"></script>
  </head>
  <body>
    <div class="publishContainer">
      <img class="logo" src="./logoCarteCovid.png" alt="Logo Carte-Covid" />
      <h1>Créez votre QR code en important votre image !</h1>
      <p>Nous vous enverrons ensuite votre QR code qui une fois scanné, affichera votre carte.</p>
      <form action="/publish" method="post" enctype="multipart/form-data">
        <input id="restaurantName" type="text" placeholder="Nom de votre restaurant" name="restaurantName"/>
        <label id="labelFile">Chargez votre carte :</label>
        <input id="uploadFile" type="file" accept="image/*" name="photo">
        <input id="uploadButton" type="button" onclick="document.getElementById('uploadFile').click();" />
        <input id="submitButton" type="submit" value="C'est parti !">
      </form>
    </div>
  </body>
</html>