<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css"/>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/javascripts/qrcode.js"></script>
  </head>
  <body>
    <p id="restaurant">Voici le QR Cde pour vautre restaurant</p>
    <img id="qrcode" src="">
    <button id="#download" onclick="saveQRCode()">Enregistrer le QR Code</button>
  </body>
</html>