<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/stylesheets/retreive.css"/>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css"/>
    <link rel="icon" type="image/ico" href="carte-covid.ico" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Carte-Covid</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/javascripts/retreive.js"></script>
  </head>
  <body>
    <div class="retreiveContainer">
      <img class="logo" src="/logoCarteCovid.png" alt="Logo Carte-Covid" id="logoCC"/>
      <h1 class="titleHolder">Créez votre QR code en nous renseignant ces deux informations !</h1>
      <p class="textHolder">Nous générerons ensuite votre QR code qui, une fois scanné, affichera votre carte.</p>
      <p class="textHolder" id="banner"></p>
      <form action="/retreive" method="post" enctype="multipart/form-data">
        <input type="text" placeholder="Nom de votre restaurant" name="restaurantName" id="restaurantName"/>
        <input type="text" placeholder="URL de la carte de votre restaurant" name="menuURL" id="menuURL"/>
        <input id="retreiveButton" type="submit" value="C'est parti !">
      </form>
    </div>
    <footer>
      <div>Réalisé par:</div>
      <div>
        <span>Bryan Medica</span>
        <a href="mailto:bryan.medica@epitech.eu"><img class="mailIcon" src="/mail.svg"/></a>
        <a href="https://www.linkedin.com/in/bryan-medica/" target="_blank"><img class="linkedinIcon" src="/linkedin.svg"/></a>
      </div>
      <div>
        <span>Léo Maignan</span>
        <a href="mailto:leo.maignan@epitech.eu"><img class="mailIcon" src="/mail.svg"/></a>
        <a href="https://www.linkedin.com/in/l%C3%A9o-maignan-438449137/" target="_blank"><img class="linkedinIcon" src="/linkedin.svg"/></a>
      </div>
      <div>
        <span>Matthias Gayaud</span>
        <a href="mailto:matthias.gayaud@epitech.eu"><img class="mailIcon" src="/mail.svg"/></a>
        <a href="https://www.linkedin.com/in/matthias-gayaud-0b6448137/" target="_blank"><img class="linkedinIcon" src="/linkedin.svg"/></a>
      </div>
      <div>© 2020 Carte-Covid. Tous droits réservés.</div>
    </footer>
  </body>
</html>