input[type=text] {
  color: white;
  padding: 8px 14px 8px 4px;
  border: none;
  border-bottom: 1px solid #9ea2af;
  background: transparent;
  margin-bottom: 15px;
  width: 100%;
}

input[type=text]:focus {
  border-bottom: 2px solid #5f7e96;
  outline-width: 0;
}

input[type=submit] {
  display: block;
  margin: auto;
  margin-top: 20px;
  width: 40%;
  background-color: #5f7e96;
  border: 1px solid #5f7e96;
  color: white;
  border-radius: 5px;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 10px 0px;
  transition: 0.1s;
}

input[type=submit]:hover {
  cursor: pointer;
  transition: 0.2s;
}

input[type=file] {
  display: none;
}

input[type=button] {
  background: #5f7e96;
  background-image: url("/download.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  border: 6px solid #5f7e96;
  border-radius: 5px;
  width: 45px;
  height: 35px;
  vertical-align: middle;
  margin-left: 5px;
}

@media (max-width: 800px) {
  input[type=submit] {
    margin: auto;
    margin-top: 20px;
    width: 300px;
  }
}

input[type=button]:focus {
  outline-width: 0px;
}

input[type=button]:hover {
  cursor: pointer;
}

.logo {
  width: 250px;
  height: auto;
  position: absolute;
  top: 10px;
  left: 0px;
  cursor: pointer;
}

.publishContainer {
  text-align: left;
  margin: 0 auto;
  width: max-content;
  max-width: 100%;
}
