input[type=text] {
  color: white;
  padding: 8px 14px 8px 4px;
  border: none;
  border-bottom: 1px solid #9ea2af;
  background: transparent;
  margin-bottom: 15px;
  width: 100%;
}

input[type=text]:focus {
  border-bottom: 2px solid #5f7e96;
  outline-width: 0;
}

input[type=submit] {
  display: block;
  margin: auto;
  margin-top: 20px;
  width: 40%;
  background-color: #5f7e96;
  border: 1px solid #5f7e96;
  color: white;
  border-radius: 5px;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 10px 0px;
  transition: 0.1s;
}

input[type=submit]:hover {
  cursor: pointer;
  transition: 0.2s;
}

input[type=text]:-webkit-autofill {
  background-color: transparent !important;
}

input[type=text]:-webkit-autofill:hover {
  background-color: transparent !important;
}

input[type=text]:-webkit-autofill:focus {
  background-color: transparent !important;
}

.logo {
  width: 250px;
  height: auto;
  position: absolute;
  top: 10px;
  left: 0px;
  cursor: pointer;
}

.retreiveContainer {
  text-align: left;
  margin: 0 auto;
  width: max-content;
  max-width: 100%;
}

.mailIcon {
  height: 25px;
  width: auto;
  position: relative;
  left: 8px;
  vertical-align: middle;
}

.linkedinIcon {
  height: 25px;
  width: auto;
  position: relative;
  left: 16px;
  vertical-align: middle;
  bottom: 3px;
}
