body {
  background: rgb(27,27,27);
  background: radial-gradient(circle, rgba(27,27,27,1) 0%, rgba(36,36,36,1) 100%);
  font-family: 'Roboto', sans-serif;
  overflow: hidden;
  margin: 0;
}

body h1 {
  font-size: 1.5rem;
  color: white;
  margin-top: 120px;
}

body p {
  margin-top: 30px;
  font-size: 1.1rem;
  color: white;
}

label {
  display: inline-block;
  color: white;
  font-size: 0.8rem;
  margin: 25px 0px 12px 0px;
}

input[type=button]:focus {
  outline-width: 0px;
}

input[type=button]:hover {
  cursor: pointer;
}

button:hover {
  cursor: pointer;
}

form {
  margin-top: 20px;
  text-align: left;
  color: white;
}

input::placeholder {
  color: rgb(199, 199, 199);
}

input, label {
  font-size: 1.2rem;
}

footer {
  display: flex;
  justify-content: space-around;
  position: absolute;
  bottom: 0px;
  color: white;
  background-color: rgb(20, 20, 20);
  width: 100%;
  margin: auto;
  height: 10%;
  padding-left: 20px;
  padding-top: 10px;
}

footer div {
  padding: 36px 0;
}

#banner {
  color: #fc5151;
  display: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px rgb(30, 30, 30) inset !important;
}

input:-webkit-autofill {
  -webkit-text-fill-color: white !important;
}

@media (max-width: 800px) {
  input[type=submit] {
    margin: auto;
    margin-top: 20px;
    width: 250px;
  }

  h1.titleHolder, p.textHolder, form {
    padding: 0px 15px;
  }

}