body {
  background: rgb(27,27,27);
  background: radial-gradient(circle, rgba(27,27,27,1) 0%, rgba(36,36,36,1) 100%);
  font-family: 'Roboto', sans-serif;
  overflow: hidden;
}

body h1 {
  font-size: 1.5rem;
  color: white;
  margin-top: 120px;
}

body p {
  margin-top: 30px;
  font-size: 1.1rem;
  color: white;
}

label {
  display: inline-block;
  color: white;
  font-size: 0.8rem;
  margin: 25px 0px 12px 0px;
}

input[type=button]:focus {
  outline-width: 0px;
}

input[type=button]:hover {
  cursor: pointer;
}

button:hover {
  cursor: pointer;
}

form {
  margin-top: 20px;
  text-align: left;
  color: white;
}

input::placeholder {
  color: rgb(199, 199, 199);
}

input, label {
  font-size: 1.2rem;
}
